h1 {
  text-align: center;
  color: white;
}

body {
  background: rgb(145,76,148);
  background: radial-gradient(circle, rgba(145,76,148,1) 0%, rgba(117,6,131,1) 50%, rgba(148,76,116,1) 100%);
}

p {
  font-size: 40px;
  text-align: center;
  color: white;
}

ul.baloes {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  ul.baloes li {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  ul.baloes li a {
    text-decoration: none;
    color: #333;
  }
  
  ul.baloes li:hover {
    background-color: #e0e0e0;
  }

  .baloes li {
    position: relative;
  }

  .balao-flutuante {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    width: 200px;
    top: -50px;
    left: -50px;
    animation: float 3s infinite alternate;
  }

  .baloes li:hover .balao-flutuante {
    display: block;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }